<html>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<body style='background-color:grey;'>
		
		<header style="text-align:center; background-color: pink"/header>
		<h1 style="text-align:center;">Mood Player</h1>
		<h2 style="text-align:center;">Using Emotion Recognition Technology</h2>
	</header>

		<div class="container">
 		 <h1>Login!</h1>
 		 <p>Sign Up!</p>
		</div>

		<body style='background-color:grey;'>
        <div class ="jumbotron text-center">
            <h1 style="text-align:center;">Mood Player</h1>
		    <h2 style="text-align:center;">Emotion Recognition</h2>
        </div>

		<body style="background-color: black;"></body>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<body style='background-color:grey;'>
        <div class ="jumbotron text-center">
            <h1 style="text-align:center;">Mood Player</h1>
		    <h2 style="text-align:center;">Emotion Recognition</h2>
        </div>


</html>